<%- include('../partials/header') %>

<h2>All Your Recipes</h2>

<table>
    <tbody>
        <thead>
            <th>Title</th>
            <th>Cook Time</th>
            <th>Link</th>
        </thead>
        <% if(UserInfo){ %>
        <% UserInfo.cookbook.forEach(r => { %>
            <tr>
                <th><%= r.title %></th>
                <td><%= r.cookTime %></td>
                <td><a href="/recipes/<%= r._id %>">Details</a></td>
            </tr>
            <% }); } %>
    </tbody>
</table>
<br>
<form action="/recipes/new" action="GET">
    <button type="submit">Add a New Recipe</button>
</form>

<%- include('../partials/footer') %>
