<%- include('../partials/header') %>

<h4>Recipe is in the Oven</h4>
<form 
<% if(recipe){ %>
    action="/recipes/<%= recipe._id %>?_method=PUT" method="POST"
<% } else { %>
    action="/recipes" method="POST"
<% } %>
>
<br>    
<label for="title">Title</label><br>
    <input type="text" name="title" id=""
    <% if(recipe){ %>
        value='<%= recipe.title %>'
    <% } %>
    >
    <br>
    <br>
    <label for="mealType">Type of Meal</label><br>
    <select name="mealType">
        <% if(recipe){ %>
            <option value="<%= recipe.mealType %>" selected disabled hidden><%= recipe.mealType %></option>
        <% } else { %>
        <option value="Misc."></option>
        <% } %>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Snack">Snack</option>
        <option value="Misc.">Misc.</option>
    </select>
    <br>
    <br>
    <label for="cuisineType">Type of Cuisine</label><br>
    <select name="cuisineType">
        <% if(recipe){ %>
            <option value="<%= recipe.cuisineType %>" selected disabled hidden><%= recipe.cuisineType %></option>
        <% } else { %>
        <option value="Misc."></option>
        <% } %>
        <option value="American">American</option>
        <option value="Brazilian">Brazilian</option>
        <option value="Caribbean">Caribbean</option>
        <option value="Chinese">Chinese</option>
        <option value="French">French</option>
        <option value="German">German</option>
        <option value="Greek">Greek</option>
        <option value="Indian">Indian</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Korean">Korean</option>
        <option value="Lebanese">Lebanese</option>
        <option value="Mediterranean">Mediterranean</option>
        <option value="Mexican">Mexican</option>
        <option value="Misc.">Misc.</option>
        <option value="Moroccan">Moroccan</option>
        <option value="Peruvian">Peruvian</option>
        <option value="Russian">Russian</option>
        <option value="Spanish">Spanish</option>
        <option value="Thai">Thai</option>
        <option value="Turkish">Turkish</option>
        <option value="Vietnamese">Vietnamese</option>
    </select>
    <br>
    <br>
    <label for="cookTime">Time to Cook (mins)</label><br>
    <input type="number" name="cookTime"
    <% if(recipe){ %>
        value='<%= recipe.cookTime %>'
    <% } %>
    >
    <br>
    <br>
    <label for="ingredientList">Ingredient List (use commas to seperate items)</label><br>
    <input type="text" name="ingredientList"
    <% if(recipe){ %>
        value='<%= recipe.ingredientList.map(i => { return i.name }).toString(); %>'
    <% } %>
    >
    <br>
    <br>
    <label for="instruction">Instruction (include Messurements here)</label><br>
    <input type="text" name="instruction"
    <% if(recipe){ %>
        value='<%= recipe.instruction %>'
    <% } %>
    >
    <br>
    <br>
    <button type="submit">All Done</button>
</form>

<%- include('../partials/footer') %>
