<%- include('../partials/header') %>

<h2><%= recipe.title %></h2>
    <div>
        <h4>Type of Meal</h4><br>
        <p><%= recipe.mealType %></p>
    </div>
    
    <div>
        <h4>Type of Cuisine</h4><br>
        <p><%= recipe.cuisineType %></p>
    </div>

    <div>
        <h4>Time to Cook</h4><br>
        <p><%= recipe.cookTime %> mins</p>
    </div>

    <div>
        <h4>Ingredient List</h4><br>
                <%- recipe.ingredientList.map(i => `<p>${i.name}</p><br>`).join('') %>
    </div>

    <div>
        <h4>Instruction</h4><br>
        <p><%= recipe.instruction %></p>
        
    </div>
<br>
<% if(user?._id.equals(recipe.chef._id)){ %>
    <form action="/recipes/<%= recipe._id %>/edit" action="GET">
        <button type="submit">Edit Recipe</button>
    </form>
    <br>
    <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Recipe</button>
    </form>
<% } %>

<%- include('../partials/footer') %>
