<%- include('../partials/header') %>

<h2><%= recipe.title %></h2>

<table>
    <tbody>
        <tr>
            <th>Type of Meal</th>
            <td><%= recipe.mealType %></td>
        </tr>
        <tr>
            <th>Type of Cuisine</th>
            <td><%= recipe.cuisineType %></td>
        </tr>
        <tr>
            <th>Time to Cook</th>
            <td><%= recipe.cookTime %> mins</td>
        </tr>
        <tr>
            <th>Ingredient List</th>
            <td>
                <ul>
                    <%- recipe.ingredientList.map(i => `<li>${i.name}</li>`).join('') %>
                </ul>
        </tr>
        <tr>
            <th>Instruction</th>
            <td><%= recipe.instruction %></td>
        </tr>
    </tbody>
</table>

<% if(user?._id.equals(recipe.chef._id)){ %>
    <form action="/recipes/<%= recipe._id %>/edit" action="GET">
        <button type="submit">Edit Recipe</button>
    </form>
    <br>
    <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
<% } %>

<%- include('../partials/footer') %>
