<%- include('../partials/header') %>

<h2><%= recipe.title %></h2>

<table>
    <tbody>
        <tr>
            <th>Type of Meal</th>
            <td><%= recipe.mealType %></td>
        </tr>
        <tr>
            <th>Type of Cuisine</th>
            <td><%= recipe.cuisineType %></td>
        </tr>
        <tr>
            <th>Time to Cook</th>
            <td><%= recipe.cookTime %> mins</td>
        </tr>
        <tr>
            <th>Ingredient List</th>
            <td>
                <ul>
                    <%- recipe.ingredientList.map(i => `<li>${i.name}</li>`).join('') %>
                </ul>
        </tr>
        <tr>
            <th>Instruction</th>
            <td><%= recipe.instruction %></td>
        </tr>
    </tbody>
</table>
<% if(user._id === recipe.chef._id){ %>
    <H5>worsds here</H5>
    <form action="" action="GET">
        <button type="submit">Edit Recipe</button>
    </form>
<% } %>

<%- include('../partials/footer') %>
